<!DOCTYPE HTML>
<html>
	<head>
	  <meta charset="UTF-8"/>
	  <title>Contract</title>
	</head>
	
	<body style="font-family:arial;  font-size: 14px; margin:25px">
		<img src="$IMAGE_ONE" style="width:100px; height:50px" alt="logoA"/>
		
		<div class="title" style="text-align:center">
			<h3>CONTRACT TERMS</h3>
			<b>Contract number: $NUMBER_CONTRACT</b>
		</div>
		
		<br/>
		<br/>
		
		<table align="center">
			<tr>
				<td style="width:500px; vertical-align:top" align="justify">
					Lorem ipsum dolor sit amet, <b>$NAME</b> tortor eros, tellus euismod, mollis aliquet eu massa
					sodales condimentum, libero amet et vel pharetra imperdiet tortor. Imperdiet wisi in
					amet. Laboris pulvinar aliquam eu venenatis vestibulum suspendisse, aspernatur
					<p>ultrices nulla odio, elit in at, reprehenderit amet. Sit pede hendrerit, proin nascetur,</p>
					<p>ultricies mauris porttitor vestibulum, elit dui accumsan ipsum at.</p>
				</td>
				<td style="width:50px"></td>
				<td style="width:500px; vertical-align:top" align="justify">
					Libero vehicula justo commodo, amet sit porttitor. Vestibulum aliquam mi nostra, ut hac venenatis aperiam est convallis suspendisse. Mus magna fusce adipiscing rerum pede,
					morbi ligula sit nonummy fusce urna, nibh etiam ac nunc interdum mi vitae, convallis dolor duis nullam, libero amet turpis eu.
					<p>Arcu amet vel lectus amet, vel cum adipiscing sollicitudin nunc ultrices neque, adipiscing sed.</p>
					<p>Quam cras quisque ipsum nunc donec. Tincidunt urna, mauris et enim vel urna pede cursus, sit odio tellus. Pede cras vivamus vitae, eget morbi, bibendum sed faucibus eget lacus ante mauris, eros quam nulla.</p>
					<br/>
				</td>
			</tr>
		</table>
		<div style="width: 91%; text-align: right">
			<p style="font-weight:bold;"> $CITY - $MONTH $DAY, $YEAR</p>
		</div>
		<br/>
		<br/>
		
		<table align="center">
			<tr><td><p>Client:____________________________________________</p></td></tr>
			<tr><td style="text-align:center; font-weight: bold">$NAME</td></tr>
			<tr><td><p>Company:____________________________________________</p></td></tr>
			<tr><td style="text-align:center; font-weight: bold">COMPANY NAME</td></tr>
		</table>
		
		<br/>
		<br/>
		
		<table>
			<caption style="text-align:left">Witness</caption>
				<tr>
					<td>
						<p> 1. Name: _________________________________</p>
						<p> DOC: ______________________________________</p>
					</td>
					<td></td>
					<td>
						<p> 2. Name: _________________________________</p>
						<p> DOC: ______________________________________</p>
					</td>
				</tr>
		</table>
		
		<br/>
		<br/>
		
		<table align="center" style="text-align:left">
			<tr>
				<td>
					<table>
						<tr>
							<td style="text-align:center" colspan="3"><b><u>Invoice Information</u></b></td>
						</tr>
						<tr>
							<td>Invoice Due Date</td><td style="width:50px"></td>
							<td style="text-align:right; font-weight: bold;">$DUE_DATE</td>
						</tr>
						<tr>
							<td>Invoice Overdue Days</td><td></td>
							<td style="text-align:right; font-weight: bold;">$OVERDUE_DAYS</td>
						</tr>
					</table>
				</td>
				<td>
					<table>
						<tr>
							<td style="text-align:center" colspan="3"><b><u>Debt Statement</u></b></td>
						</tr>
						<tr>
							<td>Debt Amount</td><td></td>
							<td style="text-align:right; font-weight: bold;">$$DEBT_AMOUNT</td>
						</tr>		
						<tr>
							<td>Discount</td><td></td>
							<td style="text-align:right; font-weight: bold;">$$DISCOUNT</td>
						</tr>
						<tr>
							<td>Invoice Amount</td><td></td>
							<td style="text-align:right; font-weight: bold;">$$INVOICE_AMOUNT</td>
						</tr>
					</table>
				</td>
			</tr>		
		</table>
		
		<br/>
		
		<table width="100%" cellpading="3" cellspacing="3" border="0">
			<tr>
				<td>
				<p align="center" style="float:left; width:100%">
					<b>Call Center - Credit Card</b><br/>
					4444-333-4444<br/>
					24 hours a day, 7 days a week<br/>
				</p>
				</td>
				<td>
				<p align="center" style="float:left; width:100%">
					<b>Ombudsman</b><br/>
					4444-333-4444<br/>
					Opening Hours: 10:00 - 16:00.
				</p>
				</td>
			</tr>
		</table>
	</body>
</html>